@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

body {
    background: #121826;
    color: #E5E7EB;
    font-family: 'Sora', sans-serif;
    line-height: 1.5;
    padding: 4rem;
}
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
form {
    background-color: #212936;
    border-radius: 10px;
    border: 1px solid #4D5562;
    display: grid;
    gap: 20px;
    padding: 30px;
    max-width: 500px;
    width: 100%;
}
legend {
    font-size: 20px;
}
form label, p {
    color:#A1A1A9;
}

form input {
    background-color: inherit;
    border: 2px solid #4D5562;
    color: #E5E7EB;
    cursor: pointer;
    border-radius: 12px;
    outline: #652cd1;
    padding: 15px;
    width: 100%;
}
form input:focus-visible {
    border-color: #652cd1;
}

form button {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(101,44,209,1) 1%, rgba(132,94,238,1) 50%);
    border-radius: 30px;
    border: none;
    letter-spacing: 0.0365rem;
    color: #E5E7EB;
    cursor: grab;
    padding: 10px;
    max-width: 120px;
    width: 100%;
    justify-self: center; 
    margin-top: 20px;
}

.custom-radio input[type="radio"] {
    display: none;
}

.custom-radio .radio-label {
    display: block;
    padding: 15px;
    cursor: pointer;
    background-color: #4D5562;
    color: #A1A1A9;
    border: 1px solid #A1A1A9;
    border-radius: 12px;
    transition: background-color 0.3s, border-color 0.3s;
    max-width: 700px;
    width: 100%;
}

.custom-radio input[type="radio"]:checked + .radio-label {
    background-color: #652cd1; 
    border-color: #E5E7EB;
    color: #E5E7EB;
}
.error-border {
    border: 2px solid red;
}

ul li {
    margin-left: 20px;
}
.dots i {
    border: 2px solid transparent;
    color: #652cd1;
    margin: 10px;
    transition: border-color 0.3s;
}

.dots i.active {
    border-color: #E5E7EB;
    animation: glow 1s infinite alternate;
}

@keyframes glow {
    0% {
        border-color: #E5E7EB;
        border-radius: 50%;
        box-shadow: 0 0 5px #E5E7EB;
    }
    100% {
        border-color: rgba(132,94,238,1);
        border-radius: 50%;
        box-shadow: 0 0 20px #652cd1;
    }
}
@media screen and (max-width: 400px) {
    form {
        font-size: 12px;
        padding: 15px
    }
    form input,
    .custom-radio .radio-label{
        padding: 7.5px;
    }
    form button {
        max-width: 80px;
    }
}
@media screen and (max-width: 600px) {
    form {
        font-size: 14px;
    }
    legend {
        font-size: 16px;
    }
}